@use "../style" as *;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  .display {
    padding: 20px;
    background: #333;
    color: white;
    text-align: right;
    font-size: 2rem;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  button {
    flex: 1 1 25%;
    padding: 20px;
    font-size: 1.5rem;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;

    &:active {
      background: #777;
    }
  }
}
